* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;


}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(new_hospital.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.contact .content {
    max-width: 800px;
    text-align: center;

}

.contact .content h2 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;

}

.contact .content p {

    font-weight: 300;
    color: #fff;

}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;

}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    /* background: url(envelope.svg); */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #5dccca;

}

.ContactForm {
    width: 40%;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 3px solid #fff;
    border-radius: 15px;
}

.ContactForm h2 {
    font-size: 36px;
    color: #00bcd4;
    font-weight: 500;

}

.ContactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.ContactForm .inputBox input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    border: 3px solid #fff;
    border-radius: 10px;
}

.ContactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
    border: 3px solid #fff;
    border-radius: 10px;
}

.ContactForm .inputBox span {
    position: absolute;
    left: 10px;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.ContactForm .inputBox input:focus~span,
.ContactForm .inputBox input:valid~span,
.ContactForm .inputBox textarea:focus~span,
.ContactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.ContactForm .inputBox input[type="submit"] {
    width: 100px;
    background: #12d4b3;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}

#first {
    background: url(icons8-map-50.png);
    filter: invert(100%);
    background-size: contain;
}

#second {
    background: url(icons8-phone.gif);
    background-size: contain;
}

#third {
    background: url(icons8-email-100.png);
    filter: invert(100%);
    background-size: contain;
}

@media (max-width:991px) {
    .contact {
        padding: 50px;

    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;

    }

    .container .contactInfo,
    .ContactForm {
        width: 100%;
    }
}