/* Global Styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.buttons-basic {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

label {
    height: fit-content;
    background-color: #209677;
    color: #fff;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-end;
    user-select: none;
    text-align: center;
    font-size: 0.9rem;
}

label>* {
    font-size: 0.7 rem;

}

input[type="file"] {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: #209677;
    ;
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
    background: #209677;
}

header {
    background-color: #209677;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9fffa;
    width: 100%;
}

.intro-talk1 {
    text-align: center;
    padding: 20px auto;
    margin: 20px;
    margin-top: 40px;
    /* background-color: rgb(252, 255, 233); */
    background-color: white;
    padding: 10px 15px;
    border-radius: 7px;
    border: 6px solid rgb(204, 255, 200);
    box-shadow: 5px 5px 5px #cdc7c7;
}


.intro-talk h1 {
    font-size: 28px;
}

.intro-talk2 {
    text-align: center;
    padding: 20px auto;
    margin: 20px;
    margin-top: 33px;
    /* background-color: rgb(255, 253, 222); */
    background-color: white;
    padding: 3px 15px;
    border-radius: 7px;
    border: 6px solid rgb(202, 255, 200);
    box-shadow: 5px 5px 5px #d1cbcb;
    z-index: 2;
}

.intro-talk2 h2 {
    font-size: 1.3rem;
    margin: 9px 10px;
}


#insurance-pic {
    position: relative;
    top: 10%;
    width: 60%;
    max-width: 80rem;
    bottom: 100px;
}

main {
    padding: 20px;
    background-color: #d9fffa;
}

.insurance-plans {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.plan {
    width: 300px;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: last baseline;

}

.plan:hover {
    /* transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */

    scale: 1.1;
    transform: translate(0, -15%);
    cursor: pointer;
    box-shadow: 10px 10px 1em 0.5em rgba(0, 0, 0, 0.07);
}

.plan h2 {
    margin-top: 0;
}



ul {
    padding: 0;
}

ul li {
    list-style-type: disc;
    margin-bottom: 5px;
    margin-left: 15px;
}

.btn {
    background-color: #e8fff8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10rem;
}

.btn {
    font-size: 10px;
}

.btn:hover {
    background-color: #1b8065;
    box-shadow: 2px 2px 4px rgb(167, 167, 167);
}

#insurance-btn01 {
    margin-top: 35px;
    text-decoration: none;
    font-size: 10px;
    display: inline-block;
}

.btn span {
    font-size: 1.4em;
}

.btn svg {
    font-size: 20px;
}



.buttons {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: #209677;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;

}

#insurance-btn02,
#insurance-btn022 {
    background-color: #209677;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.basic {
    margin-top: 52px;
}

.standard {
    margin-top: 34px;
}


button:hover,
label:hover {
    background-color: #1b8065;
    box-shadow: 2px 2px 4px rgb(167, 167, 167);
}

#insurance-btn02,
#insurance-btn022 {
    margin-top: 17px;
}

.upload-btn {
    padding: 10px;
}

footer {
    background-color: #209677;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 412px) {
    #insurance-pic {
        display: none;

    }

    .intro-talk1 h1 {
        font-size: 25px;
    }

    .intro-talk2 h2 {
        font-size: 20px;
    }
}